<ul class="text-nord5 flex space-x-4 justify-end mx-4">
  <li class="inline-block">total</li>
  <li class="inline-block">pec</li>
  <li class="inline-block">rccc</li>
  <li class="inline-block">eeic</li>
  <li class="inline-block">method of purchase</li>
</ul>

