Total cost of Reqs<%= number_with_delimiter(@reqs.sum(:req_total), :delimiter => ',') %>
<h2 class="text-nord5 font-2xl">
Amount Funded <%= number_with_delimiter(@reqs.sum(:funding_secured), :delimiter => ',') %>

User Def Criteria <%= lineage(current_user) %>
Total Reqs <%= @reqs.count %>
</h2>
