<h1 class="w-full text-nord5 text-center p-16 text-2xl">You can either create entries manually or import from DBR
</h1>
<div class="w-full flex justify-evenly">
  <button class="bg-nord11 text-nord0 p-8">
    create manually
  </button>
  <div class="overflow-hidden relative">
    <button class="bg-nord11 text-nord0 p-8">
      <span class="text-nord5"> Upload CSV </span> 
       <input  type="file" accept=".csv" ></input>
    </button>
   
  </div>
</div>
