<h1 class="flex space-x-16 justify-center px-8 py-8 bg-nord5 text-nord0 w-full">
  <strong class="text-6xl text-center">Unfunded Requirements Tracker</strong>
</h1>
<div class="grid grid-cols-1 md:grid-cols-2 text-nord5 px-4 py-8 gap-2 text-4xl">
    <h2 class=" flex text-center p-4 pb-8 items-center">What is an unfunded requirement?</h2>
    <div class="p-4 bg-nord5 text-nord0">When a unit's budget does not cover their mission needs, they may submit an Unfunded Requirement (UFR) to the finance office.</div>
    
    <p class="italic text-3xl p-2">
    We track these UFRs in the finance office, rank them based on <strong class="text-nord14">likelihood</strong> of securing funding, <strong class="text-nord14">consistency</strong> with the Wing Commander's vision, and <strong class="text-nord14">urgency.</strong> This list helps various decision-makers decide, when funding becomes available, where it should go and how it should be spent 
    </p>
    <div class="m-auto flex px-2">
    <table class="bg-nord0 text-nord5 text-2xl  border-collapse">
      <thead>
        <tr>
          <th>Cost</th>
          <th>Title</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-nord5">$10,000</td>
          <td class="border border-nord5">Aircraft Video Scope</td>
          <td class="border border-nord5">WSA</td>
        </tr>
        <tr class="bg-nord2">
          <td class="pr-1 border border-nord5">$313,260</td>
          <td class="pr-1 border border-nord5">Dorm Camera Replacement</td>
          <td class="pr-1 border border-nord5">2 CES</td>
        </tr>
        <tr>
          <td class="border border-nord5">$51,000</td>
          <td class="border border-nord5">Vehicle/Body Cameras</td>
          <td class="border border-nord5">2 SFS</td>
        </tr>
      </tbody>
    </table>
    </div>  
</div>
<div class="grid grid-cols-3 md:grid-cols-6 justify-items-center items-center content-between gap-4 text-xl">
  <h1 class="bg-nord5 border-2 border-nord5 p-4 text-nord0">The Players</h1> 
  <h1 class="text-nord5 border-2 border-nord5 p-4">Unit RA</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">Wing CC</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">Contracting</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">FMA</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">Headquarters</h1> 
</div>
<div class="grid grid-cols-1 py-8 md:grid-cols-3 justify-items-center items-center text-nord5">
<pre class="text-xl m-auto">
       \_______/
   `.,-'\_____/`-.,'
    /`..'\ _ /`.,'\
   /  /`.,' `.,'\  \
__/__/__/     \__\__\__
  \  \  \     /  /  /
   \  \,'`._,'`./  /
    \,'`./___\,'`./
   ,'`-./_____\,-'`.
       /       \
</pre>
<pre class="text-xl m-auto">
          (
           )
          (
   /\  .-"""-.  /\
  //\\/  ,,,  \//\\
  |/\| ,;;;;;, |/\|
  //\\\;-"""-;///\\
 //  \/   .   \/  \\
(| ,-_| \ | / |_-, |)
  //`__\.-.-./__`\\
 // /.-(() ())-.\ \\
(\ |)   '---'   (| /)
 ` (|           |) `
   \)           (/
</pre>
<pre class="text-xl m-auto">
       \_______/
   `.,-'\_____/`-.,'
    /`..'\ _ /`.,'\
   /  /`.,' `.,'\  \
__/__/__/     \__\__\__
  \  \  \     /  /  /
   \  \,'`._,'`./  /
    \,'`./___\,'`./
   ,'`-./_____\,-'`.
       /       \
</pre>
</div>


Solution

Command Wide
Single Source of Truth
Open Platform


problem im solving

for whom

tech stack
