<h1 class="flex space-x-16 justify-center px-8 py-8 bg-nord5 text-nord0 w-full">
  <strong class="text-6xl text-center">Unfunded Requirements Tracker</strong>
</h1>
<div class="grid grid-cols-1 md:grid-cols-2 text-nord5 px-4 py-8 gap-2 text-4xl">
    <h2 class=" flex text-center p-4 pb-8 items-center">What is an unfunded requirement?</h2>
    <div class="p-4 bg-nord5 text-nord0">When a unit's budget does not cover their mission needs, they may submit an Unfunded Requirement (UFR) to the finance office.</div>
    
    <p class="italic text-3xl p-2">
    We track these UFRs in the finance office, rank them based on likelihood of securing funding, consistency with the Wing Commander's vision, and urgency. This list helps various decision-makers <strong class="text-nord14">decide</strong>, when funding becomes available, where it should go and how it should be spent 
    </p>
    <div class="m-auto flex px-2">
    <table class="bg-nord0 text-nord5 text-2xl  border-collapse">
      <thead>
        <tr>
          <th>Cost</th>
          <th>Title</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="border border-nord5">$10,000</td>
          <td class="border border-nord5">Aircraft Video Scope</td>
          <td class="border border-nord5">WSA</td>
        </tr>
        <tr class="bg-nord2">
          <td class="pr-1 border border-nord5">$313,260</td>
          <td class="pr-1 border border-nord5">Dorm Camera Replacement</td>
          <td class="pr-1 border border-nord5">2 CES</td>
        </tr>
        <tr>
          <td class="border border-nord5">$51,000</td>
          <td class="border border-nord5">Vehicle/Body Cameras</td>
          <td class="border border-nord5">2 SFS</td>
        </tr>
      </tbody>
    </table>
    </div>  
    <div class="item-center bg-nord5 text-nord0 p-4 m-4">
      <h1 class="w-full text-center pb-4">
        <strong class="text-xl text-center">Who gets to play?</strong>
      </h1> 
      <div class="grid grid-cols-2 text-2xl">
        <li>Unit RA</li>
        <li>Unit Commander</li>
        <li>FMA</li>
        <li>Wing Commander</li>
        <li>Contracting</li>
        <li>Headquarters</li> 
      </div>
    </div>
    <pre class="text-xl m-auto">
          (
           )
          (
   /\  .-"""-.  /\
  //\\/  ,,,  \//\\
  |/\| ,;;;;;, |/\|
  //\\\;-"""-;///\\
 //  \/   .   \/  \\
(| ,-_| \ | / |_-, |)
  //`__\.-.-./__`\\
 // /.-(() ())-.\ \\
(\ |)   '---'   (| /)
 ` (|           |) `
   \)           (/
    </pre>
</div>


problem im solving

for whom

tech stack
