<h1 class="flex space-x-16 justify-center px-4 py-8 bg-nord5 text-nord0 w-full">
  <strong class="text-4xl text-center">Unfunded Requirements Tracker</strong>
</h1>
<div class="grid grid-cols-1 md:grid-cols-2 text-nord5 px-4 py-8 gap-2 text-4xl">
    <h2 class=" flex text-center p-4 pb-8 items-center">What is an unfunded requirement?</h2>
    <div class="p-4 bg-nord5 text-nord0">When a unit's budget does not cover their mission needs, they may submit an Unfunded Requirement (UFR) to the finance office.</div>
    
    <p class="italic text-3xl p-2">
    We track these UFRs in the finance office, rank them based on <strong class="text-nord13">likelihood</strong> of securing funding, <strong class="text-nord13">consistency</strong> with the Wing Commander's vision, and <strong class="text-nord13">urgency.</strong> This list helps various decision-makers decide, when funding becomes available, where it should go and how it should be spent 
    </p>
    <div class="m-auto flex px-2">
    <table class="bg-nord0 text-nord5 text-2xl  border-collapse">
      <thead>
        <tr>
          <th>Cost</th>
          <th>Title</th>
          <th>Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="p-2 border border-nord5">$10,000</td>
          <td class="p-2 border border-nord5">Aircraft Video Scope</td>
          <td class="p-2 border border-nord5">WSA</td>
        </tr>
        <tr class="bg-nord1">
          <td class="p-2 border border-nord5">$313,260</td>
          <td class="p-2 border border-nord5">Dorm Camera Replacement</td>
          <td class="p-2 border border-nord5">2 CES</td>
        </tr>
        <tr>
          <td class="p-2 border border-nord5">$51,000</td>
          <td class="p-2 border border-nord5">Vehicle/Body Cameras</td>
          <td class="p-2 border border-nord5">2 SFS</td>
        </tr>
      </tbody>
    </table>
    </div>  
</div>
<div class="grid grid-cols-3 md:grid-cols-6 justify-items-center items-center content-between gap-4 text-xl pt-8 px-4">
  <h1 class="bg-nord5 border-2 border-nord5 p-4 text-nord0">The Players</h1> 
  <h1 class="text-nord5 border-2 border-nord5 p-4">Unit RA</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">Wing CC</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">Contracting</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">FMA</h1>
  <h1 class="text-nord5 border-2 border-nord5 p-4">Headquarters</h1> 
</div>
<div class="grid grid-cols-1 py-16 md:grid-cols-3 justify-items-center items-center text-nord5">
<pre class="text-xl m-auto">
       \_______/
   `.,-'\_____/`-.,'
    /`..'\ _ /`.,'\
   /  /`.,' `.,'\  \
__/__/__/     \__\__\__
  \  \  \     /  /  /
   \  \,'`._,'`./  /
    \,'`./___\,'`./
   ,'`-./_____\,-'`.
       /       \
</pre>
<pre class="text-xl m-auto">
          (
           )
          (
   /\  .-"""-.  /\
  //\\/  ,,,  \//\\
  |/\| ,;;;;;, |/\|
  //\\\;-"""-;///\\
 //  \/   .   \/  \\
(| ,-_| \ | / |_-, |)
  //`__\.-.-./__`\\
 // /.-(() ())-.\ \\
(\ |)   '---'   (| /)
 ` (|           |) `
   \)           (/
</pre>
<pre class="text-xl m-auto">
       \_______/
   `.,-'\_____/`-.,'
    /`..'\ _ /`.,'\
   /  /`.,' `.,'\  \
__/__/__/     \__\__\__
  \  \  \     /  /  /
   \  \,'`._,'`./  /
    \,'`./___\,'`./
   ,'`-./_____\,-'`.
       /       \
</pre>
</div>
<div class="grid grid-cols-1 md:grid-cols-3 gap-4 md:px-4 px-8 m-auto">
  <div class="bg-nord0 border-2 border-nord5">
    <h1 class="bg-nord5 text-nord0 text-center text-3xl p-2">
      Single Source of Truth
    </h1>
    <p class="text-nord5 p-4 text-2xl text-justify">
    No more emailing around an excel sheet; any time you want to see the latest version, just head to the site. Instantly create or update a requirement without calling me at my desk!
    </p>
  </div>
  <div class="bg-nord0 border-2 border-nord5">
    <h1 class="bg-nord5 text-nord0 text-center text-3xl p-2">
      Scale Invariant
    </h1>
    <p class="text-nord5 p-4 text-2xl text-justify">
    This system can be run by headquarters for the entire command, or by one FMA office for a single base. HQ could easily trial run a willing installation before expanding painlessly.
    </p>
  </div>
  <div class="bg-nord0 border-2 border-nord5">
    <h1 class="bg-nord5 text-nord0 text-center text-3xl p-2">
      Open Platform
    </h1>
    <p class="text-nord5 p-4 text-2xl text-justify">
    Any analytics system, COTS or homebrew, that can take in an industry-standard database can operate on requirements. No proprietary magic behind the scenes that will force you to stay.
    </p>
  </div>

</div>
<div class="mt-24">
  <div class="flex flex-col">
    <h2 class="justify-center text-center">
      <strong class="text-2xl text-nord5 p-4 border border-nord5">
        How do I import requirements given to me by DBR?
      </strong>
    </h2>
    <p class="border-l border-nord5 text-nord5 m-8 pl-4 text-2xl text-justif">
    Uploading a csv file requires that Req-Crawler receive the correct column headers; although they don't have to be in the correct order, they do need to be named correctly. Here is the legend for how the system will build requirement's data fields based on the column headers of your DBR output file:
    </p>
  </div>
  <table class="w-full">
    <tr>
      <th class="text-nord5">Req-Crawler's UFR attributes</th>
      <th class="text-nord5">Expected CSV column header</th>
    </tr>
    <tr>
      <th class="text-nord5">+</th>
      <th class="text-nord5">+</th>
    </tr>
    <tr class="bg-nord1">
      <th class="text-nord5">+</th>
      <th class="text-nord5">+</th>
    </tr>

  </table>
</div>
