<h1>I am the user type page</h1>
<h2>I may later be removed if this becomes part of the user model</h2>
<p>
<%= link_to "Continue as a Requirement Owner", unit_path %>
</p>
<div>
<p>
<%= link_to "Continue as FMA", fma_path %>
</p>

