<% @title="All Requirements for #{lineage(current_user)}" %>


<%= render "shared/infopanel" %>
<%= render "shared/filterbar" %>


<div class="flex flex-row flex-wrap justify-around gap-6 m-8">
  <%= render @reqs %>  
</div>
