<% if current_user.hq_role == true %>
  <% @title = "All Requirements" %>
<% else %>
  <% @title="All Reqs for #{lineage(current_user)}" %>
<% end %>

<%= render "shared/infopanel" %>
<div class="pt-4" />
<% render "shared/filterbar" %>

<% if current_user.hq_role == true %>
  <div class="flex flex-col gap-6">
    <% @reqs.each do |req|  %>
      <%= render "flatreq", :req => req %>  
    <% end %>
  </div>
<% else %>
  <div class="flex flex-row flex-wrap justify-around gap-6 mt-2 m-8">
    <%= render @reqs || "No Requirements have been loaded into the system." %>  
  </div>
<% end %>
