<% if current_user.hq_role == true %>
  <% @title = "All Requirements" %>
<% else %>
  <% @title="All Reqs for #{lineage(current_user)}" %>
<% end %>

<%= render "shared/infopanel" %>

<%= render "shared/filterbar" %>

<div class="flex flex-row flex-wrap justify-around gap-6 m-8">
  <%= render @reqs %>  
</div>
