<!DOCTYPE html>
<html>
  <head>
    <%= render "shared/head" %>    
  </head>

  <body>
    <div class="min-h-screen bg-gray-100">
      <div class="pb-32 bg-nord0">
        <%= render "shared/navbar" %>
      </div>

      <main class="-mt-32">
        <div class="mx-auto pb-12 px-4 sm:px-6 lg:px-8">
          <%= render "shared/flash" %>
          <%= yield %>
        </div>
      </main>
    </div>
  </body>
</html>